.main{
	border:2px solid red;
	padding:2%;
    margin:2%;
	display:flex;
	flex-direction: row;
}
a{
	word-wrap: break-word;
}
.left{
	border: 2px solid blue;
	padding: 2%;
	margin: 2%;
	border-radius: 10%;
	text-align:center;
	width:30%;
	background-color: skyblue;
}
.left img{
	width:30%;
	border-radius: 50%;
	border: 5px solid green;
	box-shadow: 12px 20px 18px blue;
}
.right{
	width:60%;
	border: 2px solid green;
	padding: 2%;
	margin: 2%
	background-color: pink;
}
#number{
	color: brown;
	font-size: 25px;
}
p{
	color: orange;
	font-size: 30px;
}
@media only screen and (min-width:320px) and (max-width:480px){
.main{
	border:2px solid red;
	padding:2%;
    margin:  2%;
	display:flex;
	flex-direction: column;
}
a{
	word-wrap: break-word;
}
.left{
	border: 2px solid blue;
	padding: 2%;
	margin: 2%;
	border-radius: 10%;
	text-align:center;
	width:90%;
	background-color: skyblue;

}
.left img{
	width:20%;
	border-radius: 50%;
	border: 5px solid green;
	box-shadow: 12px 20px 18px orange;
}
.right{
	width:90%;
	border: 2px solid green;
	padding: 2%;
	margin: 2%;
	background-color:pink;
}
#number{
	color: brown;
	font-size: 25px;
}
p{
	color: orange;
	font-size: 30px;
}
.table1{
	width:90%;
	overflow-x:auto;
}
}
@media only screen and (min-width:481px) and (max-width:768px){
.main{
	border:2px solid red;
	padding:2%;
    margin:  2%;
	display:flex;
	flex-direction: row;
}
a{
	word-wrap: break-word;
}
.left{
	border: 2px solid blue;
	padding: 2%;
	margin: 2%;
	border-radius: 10%;
	text-align:center;
	width:50%;
	background-color: skyblue;

}
.left img{
	width:20%;
	border-radius: 50%;
	border: 5px solid green;
	box-shadow: 12px 20px 18px orange;
}
.right{
	width:50%;
	border: 2px solid green;
	padding: 2%;
	margin: 2%;
	background-color:yellow;
}
#number{
	color: brown;
	font-size: 25px;
}
p{
	color: orange;
	font-size: 30px;
}
.table1{
	width:90%;
	overflow-x:auto;
}
}
@media only screen and (min-width:768px) and (max-width:1024px){
.main{
	border:2px solid red;
	padding:2%;
    margin:  2%;
	display:flex;
	flex-direction: row;
}
a{
	word-wrap: break-word;
}
.left{
	border: 2px solid blue;
	padding: 2%;
	margin: 2%;
	border-radius: 10%;
	text-align: left;
	width:40%;
	background-color: grey;

}
.left img{
	width:20%;
	border-radius: 50%;
	border: 5px solid green;
	box-shadow: 12px 20px 18px orange;
}
.right{
	width:40%;
	border: 2px solid green;
	padding: 2%;
	margin: 2%;
	background-color:skyblue;
}
#number{
	color: brown;
	font-size: 25px;
}
p{
	color: orange;
	font-size: 30px;
}
.table1{
	width:90%;
	overflow-x:auto;
}
}